appdirs==1.4.4
asgiref==3.3.4
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
Django==3.2.4
filelock==3.0.12
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
moviepy==1.0.3
numpy==1.20.1
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
proglog==0.1.9
prompt-toolkit==3.0.18
Pygments==2.9.0
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
tqdm==4.59.0
traitlets==5.0.5
urllib3==1.26.4
virtualenv==20.4.6
wcwidth==0.2.5
